<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Parent</th>
        <th>Name</th>
        <th>CPU (μs)</th>
        <th>IPC In</th>
        <th>IPC Out</th>
        <th>Caps</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td><a>{{ .ID }}</a></td>
        {{ if eq .ParentID 0 }}
        <td>-</td>
        {{ else }}
        <td><a>{{ .ParentID }}</a></td>
        {{ end }}
        <td>{{ .Name }}</td>
        <td>{{ .CPUOps }}</td>
        <td>{{ .IPCIn }}</td>
        <td>{{ .IPCOut }}</td>
        <td>3</td>
        <td>
            <a>Restart</a>
            |
            <a>Stop</a>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
